/*css for bnav*/

* {
  box-sizing: border-box;
}
html,body {
  height : 100%;
  padding-top : 0px;
  overflow-x : hidden; 
  font-size : 14px;
  font-family : sans-serif Gotham Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

#card span{
	font-size: 20px;
}
body a:hover{
   text-decoration: none;
}
#accordion button:hover{
   text-decoration: none;
}
#card a{
	text-decoration: none;
}
body label{
	color: black;
}
#wrapper ul li a{
 	color: black;
}
#wrapper ul li i{
 	color: black;
}
#wrapper span{
   color: black ;
}
/*css for table*/
.moe1{
   background: rgb(248,190,21);
   color: white;
   }
   .yellow{
      background: rgb(248,190,21);
      color: white;
   }
   .red{
      background: rgb(209,80,62);
      color: white;
   }
   .lblue{
      background: rgb(60,143,194);
      color: white;
   }
   .dblue{
      background: rgb(31,72,162);
      color: white;
   }
.blackColor{
   color: black;
}
.yellowColor{
   color:rgb(248,190,21) ;
}
.moe2{
   background: rgb(209,80,62);
   color: white;
}
.redColor{
   color:  rgb(209,80,62);
}
.moe3{
   background: rgb(60,143,194);
   color: white;
}
.lblueColor{
   color: rgb(60,143,194) !important;
}
.moe4{
   background: rgb(31,72,162);
   color: white;
}
.dblueColor{
   color: rgb(31,72,162) ;
}
#logo1 {
  vertical-align: middle;
  max-height: 60px;
  margin-top: 25px;
}

#search {
  width: 25rem;
  margin-right: 40px !important;
}
.buttonClass{
   border: none;
   background: white;
   
}
.buttonMenu button{
  background-color: #f8f8f8;
   width:100px;
   font-size: 14px;
   font-family: sans-serif Gotham ;
   float:left !important ;
   font-weight: bold; 
}
#gradeMenu{
   display: none;
}
#courseMenu{
   display: none;
}
#typeMenu{
   display: none;
}
#unitMenu{
   display: none;
}
#subunitMenu{
   display: none;
}
#mediaMenu{
   display: none;
}
.sidenav {
   display:none;
   height: 100%;
   
   position: fixed;
   z-index: 1;
   
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   transition: 0.5s;
 
 }
 #linkColor div{
    color: black;
 }
.ban {
  border-bottom: 4px solid;
  border-width: 100% padding: 0px;
  border-image: url('/logb.png') 1 round;
  border-bottom-width: auto;
}
i:focus, i:active {
  color: blue;
  background-color:yello;
}
/*.button {
   background-color: #4CAF50; 
   border: none;
   color: white;

   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   transition-duration: 0.4s;
   cursor: pointer;
 }
   .button1 {
      background-color: white; 
      color: black; 
      border: 1px solid rgb(60,143,194);
    }
    .button1:hover {
      background-color: rgb(60,143,194);
      color: white;
    }*/

.zoom {
  
  transition: transform .5s; /* Animation */
  
}

.zoom a{
  
  transition: transform .2s; /* Animation */
  
}

.zoom:hover{
  color: white;
  background: rgb(60,143,194);
  border-radius: 4px;
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom:hover h6{

  color: white;
  font-weight: bold;
  
}
.zoom:hover span{
  color: white;
  
}
.bold
{
  font-weight: bold;
}

/*upload css*/
/* Container */
/*#container{
   margin: 0 auto;
   border: 0px solid black;
   width: 50%;
   height: 250px;
   border-radius: 3px;
   background-color: ghostwhite;
   text-align: center;
}
/* Preview */
/*.preview{
   width: 100px;
   height: 100px;
   border: 1px solid black;
   margin: 0 auto;
   background: white;
}

.preview img{
   display: none;
}*/
/* Button */
#canvas_container {
          width: 100%;
          height: 40%;
          overflow: auto;
      }
 
      #canvas_container {
        background: #333;
        text-align: center;
        border: solid 2px;
      }
  #navigation_controls
  {
    margin-top: -7%;
    z-index: 10000000;
  }
  #wrapper
  {
    margin-left: 3%;
    margin-right: 3%;
  }
/* 
  Thumbnail size for pdf and video on large screen
*/
 #pdfView{
    width: 100%;
    height: 160px;
  }
  #videoView{
    width: 100%;
    height: 160px;
  }
@media (max-width:1400px) and (min-width:1200px) {
   #pdfView{
    width: 100%;
    height: 130px;
  }
  #videoView{
    width: 100%;
    height: 130px;
  }
}
@media (min-width: 993px)
{

      #navbarSupportedContent
      {
        display:block !important;
      }
      #view_time_sm
      {
        display: none;
      }
      #singleSide
      {
          top: 10%;
          margin-left: 68%;
      }
      #singleMain
      {
          position: fixed;
          z-index: 1;
          top: 10%;
          left: 1%;
          right: 1%;
          overflow-x: hidden;
      }
     #addResourceForm
     {
      margin-top: 5%;
     }
     #upload_space
     {
      margin-bottom: 3%;
     }
     #canvas_container {
          width: 100%;
          height: 530px;
          overflow: auto;
      }
      #view
      {
          width: 100%;
          height: auto;
      }
      #searchForm{
        display: none;
      } 
      .nav-form-ul{
        display: flex;
        justify-content: space-around;
      }


}
@media (max-width: 993px)
{
    #canvas_container {
          width: 100%;
          height: 400px;
          overflow: auto;
      }
    #btnGroup
    {
      display:none;
    }
    #result
    {
      padding: 0;
    }
    #wrapper
    {
      padding: 0;
    }
    #singleView
    {
      position:fixed;
      z-index: 1;
    }
    #singleSide
    {
      margin-top: 160px;
    }
    #scrollVideo
    {
      padding-left:50px;
      padding-right:50px;
    }
    #view
      {
          width: 100%;
          height: 50%;
      }
       #searchForm1{
        display: none;
      }
      /* thumbnail size  */
      #pdfView{
        width: 100%;
        height: 140px;
      }
      #videoView{
        width: 100%;
        height: 140px;
      }

}
.top-bar {
  background: #333;
  color: #fff;
  padding: 0;
}

.btn1 {
  background:  #333;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.3rem .7rem;
}

.btn1:hover {
  opacity: 0.9;
}



.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
#current_page
{
  padding: 0;
  margin: 0;
  width: 2rem;
}
/* pagination style */
#alem{
  margin-top :-200px !important;
  border-radius: 5px !important;
  padding : 10px !important;
}

/* page top  */
#page-top-button{
     position:absolute;
     bottom:0;
     right:0;
}
/* Nav bar margin top */
#searchForm1{
  width: 75%; 
  margin-top:5px;
}
/* brand styles */
.brandEnglish{
  font-size: 13px;
  font-family: sans-serif Gotham;
}
.brandAmharic{
  font-size: 16px;
  font-family: sans-serif, Noto sans Ethiopic !important;
}
/* paginate positon for type */
#paginateType{
  position:fixed;
  bottom: 0px;
  right: 1%;
  border: 1px solid #a9a9a9;
  border-radius: 5%;
}
.page-item.active .page-link{
  background: rgb(31,72,162);
}
