/*css for bnav*/

* {
  box-sizing: border-box;
  outline: none !important;
}
html,body {
  height : 100%;
  padding-top : 0px;
  overflow-x : hidden; 
  font-size : 14px;
  font-family : sans-serif Gotham Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

#card span{
  font-size: 20px;
}
body a:hover{
   text-decoration: none;
}
#accordion button:hover{
   text-decoration: none;
}
#card a{
  text-decoration: none;
}
body label{
  color: black;
}
#wrapper ul li a{
  color: black;
}
#wrapper ul li i{
  color: black;
}
#wrapper span{
   color: black ;
}
/*css for table*/
.moe1{
   background: rgb(248,190,21);
   color: white;
   }
   .yellow{
      background: rgb(248,190,21);
      color: white;
   }
   .red{
      background: rgb(209,80,62);
      color: white;
   }
   .lblue{
      background: rgb(60,143,194);
      color: white;
   }
   .dblue{
      background: rgb(31,72,162);
      color: white;
   }
.blackColor{
   color: black;
}
.yellowColor{
   color:rgb(248,190,21) ;
}
.moe2{
   background: rgb(209,80,62);
   color: white;
}
.redColor{
   color:  rgb(209,80,62);
}
.moe3{
   background: rgb(60,143,194);
   color: white;
}
.lblueColor{
   color: rgb(60,143,194) !important;
}
.moe4{
   background: rgb(31,72,162);
   color: white;
}
.dblueColor{
   color: rgb(31,72,162) ;
}
#logo1 {
  vertical-align: middle;
  max-height: 60px;
  margin-top: 25px;
}

#search {
  width: 25rem;
  margin-right: 40px !important;
}
.buttonClass{
   border: none;
   background: white;
   
}
.buttonMenu button{
  background-color: #f8f8f8;
   width:100px;
   font-size: 14px;
   font-family: sans-serif Gotham ;
   float:left !important ;
   font-weight: bold; 
}
#gradeMenu{
   display: none;
}
#courseMenu{
   display: none;
}
#typeMenu{
   display: none;
}
#unitMenu{
   display: none;
}
#subunitMenu{
   display: none;
}
#mediaMenu{
   display: none;
}
.sidenav {
   display:none;
   height: 100%; 
   
   position: fixed;
   z-index: 1;
   
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   transition: 0.5s;
 
 }
 #linkColor div{
    color: black;
 }
.ban {
  border-bottom: 4px solid;
  border-width: 100% padding: 0px;
  border-image: url('/logb.png') 1 round;
  border-bottom-width: auto;
}
i:focus, i:active {
  color: blue;
  background-color:yello;
}
/*.button {
   background-color: #4CAF50; 
   border: none;
   color: white;

   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   transition-duration: 0.4s;
   cursor: pointer;
 }
   .button1 {
      background-color: white; 
      color: black; 
      border: 1px solid rgb(60,143,194);
    }
    .button1:hover {
      background-color: rgb(60,143,194);
      color: white;
    }*/

.zoom {
  
  transition: transform .5s; /* Animation */
  
}

.zoom a{
  
  transition: transform .2s; /* Animation */
  
}

.zoom:hover{
  color: white;
  background: rgb(60,143,194);
  border-radius: 4px;
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom:hover h6{

  color: white;
  font-weight: bold;
  
}
.zoom:hover span{
  color: white;
  
}
.bold
{
  font-weight: bold;
}

/*upload css*/
/* Container */
/*#container{
   margin: 0 auto;
   border: 0px solid black;
   width: 50%;
   height: 250px;
   border-radius: 3px;
   background-color: ghostwhite;
   text-align: center;
}
/* Preview */
/*.preview{
   width: 100px;
   height: 100px;
   border: 1px solid black;
   margin: 0 auto;
   background: white;
}

.preview img{
   display: none;
}*/
/* Button */
#canvas_container
{
      width: 100%;
      height: 40%;
      overflow: auto;
}
 #canvas_container 
 {
    background: #333;
    text-align: center;
    border: solid 2px;
  }
  #navigation_controls
  {
    margin-top: -7%;
    z-index: 10000000;
  }
 #navPdf
 {
  color:white !important ;
 }
 #navPdfFull
 {
   display: none;
 }
  #wrapper
  {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }


.likeDislike
{
 color:rgb(60,143,194)!important; 
}
/* #single-main-video
{
    width: 960px;
    height: 540px;
    border: none;
    
} */
#singleVideo
{
  width: 100%;
  max-height: 540px;
  /* min-height:540px; */
  background-color: #3c3c3c;
  
}
#singleMainContainer
{
  padding: 0;
  margin-top: 0;

}
#views_uploadTime_2
{
  display: none !important;
}
@media (min-width: 1080px)
{
      #fullPdfMobile
      {
        display: none;
      }
      #fullPdfDesktop
      {
        display: block;
      }
      #navbarSupportedContent
      {
        display:block !important;
      }
      #view_time_sm
      {
        display: none;
      }
      #singleSide
      {
          top: 10%;
          margin-left: 68%;
      }
      #singleMain
      {
          position: fixed;
          z-index: 1;
          top: 10%;
          left: 1%;
          right: 1%;
          overflow-x: hidden;
      }
     #addResourceForm
     {
      margin-top: 5%;
     }
     #upload_space
     {
      margin-bottom: 3%;
     }
     #canvas_container {
          width: 100%;
          height: 530px;
          overflow: auto;
      }
      #view
      {
          width: 100%;
          height: auto;
      }
      #singleViewDiv{
        margin: 0 35px 0 35px;
      }
      #sidebarViewAndTime{
  position:absolute;
  bottom:1em;
  left:1em;
  right:1em;
}

}
@media (max-width: 1080px)
{
  #fullPdfMobile
  {
    display: block;
  }
  #fullPdfDesktop
  {
    display: none;
  }
    #canvas_container {
          width: 100%;
          height: 400px;
          overflow: auto;
      }
    #btnGroup
    {
      display:none;
    }
    #result
    {
      padding: 0;
    }
    #wrapper
    {
      padding: 0;
    }
    #singleView
    {
      position:fixed;
      z-index: 1;
    }
    #singleSide
    {
      margin-top: 160px;
    }
    #scrollVideo
    {
      padding-left:50px;
      padding-right:50px;
    }
    #view
      {
          width: 100%;
          height: 50%;
      }
  }
@media(max-width:1000px)
{
    #wrapper
    {
      margin-left:0;
      margin-right: 0; 
    }
    
   
      #singleDisplay
      {
        padding: 0;
      }
}
@media(max-width: 770px)
{
    #description_like_dislike
    {
      display: none;
    }
   
    #canvas_container {
          width: 100%;
          height: 380px;
          overflow: auto;
      }
   #singleSideContainer
   {
      margin-top: 400px;
   }
 
  
    #singleVideoContainer
  {
      width: 100%;
      height: 400px;
      border: none;
      margin: 0;
      padding: 0;
  }
}
@media (max-width:770px) and (min-width:765px) 
{

          #singleDisplay
      {
          position: fixed;
          z-index: 1;
          top: 0%;
          width: 100%;
          height: 430px;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
      }
      #singleSideContainer
      {
        margin-top: 48%;
        
      }
      #singleVideoContainer
      {
         width: 100%;
         height: 430px;
          border: none;
      }
      #single-side-video{
        margin-top: 43%;
        padding-top: 1px;

      }
      #singleVideo
      {
        width: 100%;
        max-height: 310px;
        margin-top: 10%;
        /* min-height:540px; */
        background-color: #3c3c3c;
        
      }
      
  
}
@media (min-width:500px)
{
  .views_uploadTime_2
  {
    display: none !important;
  }
}
@media(max-width: 500px)
{

          #singleDisplay
      {
          position: fixed;
          z-index: 1;
          top: 10%;
          width: 100%;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
      }
      #single-side-video
      {
        margin-top: 52%;
      }
      #single-side-pdf
      {
        margin-top: 120%;
      }
      #singleSideContainer
      {
        margin-top: 95%;
        
      }
      #views_uploadTime_1
      {
        display: none;
      }
      #views_uploadTime_2
      {
        display: block !important;
      }
     
      #navPdf
      {
        margin-top: 3%;
      }
        #singleVideoContainer
      {
         width: 100%;
         height: 200px;
          border: none;
      }
            #singleViewDiv{
              margin: 0;
            }
            #singleVideo
            {
              width: 100%;
              max-height: 200px;
              /* min-height:540px; */
              background-color: #3c3c3c;
              
            }
}
.top-bar {
  background: #333;
  color: #fff;
  padding: 0;
}

.btn1 {
  background:  #333;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.3rem .7rem;
}

.btn1:hover {
  opacity: 0.9;
}



.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
#current_page
{
  padding: 0;
  margin: 0;
  width: 3rem;
}
.page-info
{
  color:white !important;
  font-size: 3px;
}
/* css for quiz */
/* single page style */
#load{
  width:100%;
  height:100%;
  position:fixed;
  z-index:9999;
  background:url("/assets/img/lodding.gif") no-repeat center center rgba(0,0,0,0.25)
}
/* Nav bar margin top */
#searchForm1{
  width: 75%; 
  margin-top:5px;
}
/* brand styles */
.brandEnglish{
  font-size: 13px;
  font-family: sans-serif Gotham;
}
.brandAmharic{
  font-size: 16px;
  font-family: sans-serif, Noto sans Ethiopic !important;
}
/* like and dislike button */















                                        